[submodule "tests/unity/tests/unity"]
	path = tests/unity/tests/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "tests/unity/Unity"]
	path = tests/unity/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
